@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

@font-face {
  font-family: 'betty-molly';
  src: url(/barbershop/CSS/fonts/betty_molly/Betty\ Molly\ -\ Personal\ Use.otf);
}

:root {
  --primary-color: #fdf8ec;
  --secondary-color: #ee6e4b;

  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown:#fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown:#915b40;
  --light-yellow:#f8e3a8;
  --light-red:#f3ac99;
  --light-teal:#a6c8cc;
  --light-gray:#ddd5d6;
  --theme-color2: #ee6e4b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #000000;
  padding-top: 10px
}

#logo {
  font-family: 'betty-molly';
  font-size: 2rem;
}

.highlight {
  background-color: #000000;
  color: var(--secondary-color);
}

#start {
  display: flex;
  justify-content:space-between;
  list-style: none;
  margin-right: 100px; 
  padding-top: 10px;
}

#start li {
  margin-right: 40px;
}

#start li #sign-in {
  color: var(--secondary-color);
}

#start li #sign-in:hover {
  border-bottom-style: none;
}

#start li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Zen Kurenaido', sans-serif;
}

#start li a:hover {
  font-weight: bolder;
  border-bottom: 2px solid var(--secondary-color);
}

#landing-page {
  width: 100vw;
  height: 80vh;
}

#right-side {
  background-color: var(--secondary-color);
}

#display {
  margin-top: 10%;
  margin-left: 10%;
  width: fit-content;
}

.display-para {
  font-size:smaller;
}

.display-title {
  font-weight: 900;
  font-family: 'Zen Kurenaido', sans-serif;
}

.buttons {
  display: flex;
  justify-content:flex-start;
  font-family: 'Zen Kurenaido', sans-serif;
}

.btn-shadow {
  box-shadow: 5px 5px;
}

.btn-col {
  background-color: var(--secondary-color);
  font-weight: bolder;
}

#btn-num {
  background-color: #ffffff;
  font-weight: bolder;
}

.video { 
  width: 460px;
  margin-top: 30%;
  
}
video{
  width: 100% !important;
  height:auto !important;
  position: absolute;
  right: 60%;
  border: 10px solid var(--secondary-color);
  box-shadow: 20px 40px var(--secondary-color) inset;
}

#services {
  padding: 20px;
  font-family: 'Zen Kurenaido', sans-serif;
}

.services-text {
  text-align: center;
}

.top-text {
  color: var(--secondary-color);
}

.text-header {
  font-weight: bolder;
  font-size: 1.8rem;
}

.logo {
  color: var(--secondary-color);
  position: relative;
  width: fit-content;
  left: 50%;
}

.card:hover {
  color: #ffffff;
  background-color:var(--secondary-color);
  box-shadow: 0 4px 20px -2px rgba(238, 110, 75, 1);
}

.fa-heart, .fa-play-circle, footer .fab, .fas {
  color: var(--secondary-color);
}

#about, #team, #testimonials, #book, footer {
  font-family: 'Zen Kurenaido', sans-serif;
}

#btn-learn {
  width: 180px;
}

.about-image {
  width: 100%;
  height: 300px;
  border-right: 30px solid #464646;
}

 #about-image {
  width:100%;
  height:100%;
  object-fit:cover;
  position: relative;
}

#inset-image {
  width:40%;
  position: absolute;
  bottom: -60px;
  right: 45px;
  border: 8px solid var(--secondary-color);
}

#team-text {
  text-align: center;
}

.site-logo {
  width: 218.33px !important;
  margin-right: 50px;
}

.btn {
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 30px;
  cursor: pointer;
}

.btn-theme {
  background: var(--theme-color1);
  color: #212121;
}

.c-container {
   margin: auto;
   width: 93%;
   position: relative;
   z-index: 1;
}

.btn-outline-white {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   background-image: none;
   border-width: 2px;
   border-color: #fff;
   font-weight: 500;
   -webkit-transition: all .2s;
   transition: all .2s;
}
.btn {
   border-radius: 5px;
   font-weight: normal;
   font-size: 15px;
   letter-spacing: 0.02em;
   line-height: 12px;
   text-align: center;
   font-weight: 600;
   font-size: 14px;
   padding: 14px 30px;
   cursor: pointer;
}
.btn-outline-white:hover {
   background-color: #fff;
   color: var(--text-dark);
}
/* common css up */

.testimonial p {
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 35px;
}
.testimonial .name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 35px;
  text-align: left;
}
.testimonial .designation {
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  opacity: 0.65;
}
.unt {
  margin-bottom: 20px;
  margin-top: 60px;
}
.hero-text {
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #fff;
}
.gallery-thumbs {
  height: 100%;
}
.gallery-thumbs .swiper-wrapper {
  align-items: center;
}
.gallery-thumbs .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px !important;
  height: 330px;
  position: relative;
}
.gallery-thumbs .swiper-slide img {
  filter: contrast(0.5) blur(1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
  filter: contrast(1) blur(0px) !important;
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-row .flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}


.testimonial-section .quote {
   width: 75%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding-left: 100px;
   padding-right: 100px;
}
.swiper-container.testimonial {
   height: 100vh;
}
.testimonial-section .user-saying {
   background: var(--theme-color2);
   width: 60%;
   color: #fff;
   height: 100%;
}
.testi-user-img {
   width: 40%;
}
.testimonial-section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}
.testimonial-section .quote p {
   font-size: 20px;
   font-weight: 300;
   line-height: 1.8;
   font-style: italic;
   margin: 0;
}
.quote-icon {
   width: 38px;
   display: block;
   margin-bottom: 30px;
}

#book {
  margin-top: 15px;
}

#book-form {
  display: flex;
  justify-content: space-evenly;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px;
}

/*Media Queries*/
@media (max-width:768px) {
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #start {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-top: 0;
  }

  #logo {
    padding: 0;
  }

  #display {
    margin-top: 5%;
  }

  #right-side {
    display: none;
  }

  #left-side {
    display:flex;
    justify-content: center; 
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  #btn-num {
    margin-top: 20px;
    width: 100%;
    position: relative;
    right: 19%;
  }

  #services {
    padding: 0;
  }

  #inset-image {
    display: none;
  }

  .spacer {
    display: none;
  }

  #book-form {
    display: flex;
    flex-direction: column;    
  }

  #btn-learn {
    margin-top: 10px;
  }

  footer {
    font: smaller;
  }

  .social {
    margin-bottom: 10px;
  }

}